.login {
  display: grid;
  background-color: #000;
  place-items: center;
  height: 100vh;
}

.login img {
  width: 100%;
}

.login a {
  background-color: #1db954;
  padding: 20px;
  border-radius: 99px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
